<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=nl1-wsq1.a2hosting.com;Persist Security Info=True;User ID=gameswho_hackathon;Password=uR20sn5@hacka" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>